{% extends 'master' %}

{% block selects %}
    <select class="browser-default" id="select_estado" style='margin-left: 5rem;
                                            font-family: "Roboto",Arial,Helvetica,sans-serif;
                                            border-radius: .6rem;
                                            font-size: .95em;
                                            border: none;
                                            background: #fff;
                                            height: 2rem;
                                            outline: none;
                                            width: 8rem;'>
        <option value="" disabled selected>Estado</option>
    </select>
    <select class="browser-default" id="select_ciudades" style='margin-left: 1rem;
                                            font-family: "Roboto",Arial,Helvetica,sans-serif;
                                            border-radius: .6rem;
                                            font-size: .95em;
                                            border: none;
                                            background: #fff;
                                            height: 2rem;
                                            outline: none;
                                            width: 8rem;'>
        <option value="" disabled selected>Ciudad</option>
    </select>
    <select class="browser-default" id="select_sucursales" style='margin-left: 1rem;
                                            font-family: "Roboto",Arial,Helvetica,sans-serif;
                                            border-radius: .6rem;
                                            font-size: .95em;
                                            border: none;
                                            background: #fff;
                                            height: 2rem;
                                            outline: none;
                                            width: 8rem;'>
        <option value="" disabled selected>Sucursal</option>
    </select>
{% endblock selects %}

{% block content %}
<main id="mainContainer">

        <!-- Main Container -->
        <div class="container">

            <div class="row">


                <!-- Content -->
                <div class="col-lg-12">

                    <!-- Filter Area -->
                    <div class="row">


                        <div class="col-6 col-md-12 text-right">

                           <div class="card card-dark text-center z-depth-2 mb-1">
					            <div class="card-block">
					                <p class="white-text mb-0"><i class="fa fa-info-circle"></i> Cartelera de peliculas <a class="text-white" href="https://mdbootstrap.com/legacy/4.2.0/components/tags"><strong>visit this site</strong></a></p>
					            </div>
					        </div>
                        </div>
                    </div>
                    <!-- /.Filter Area -->

                    <!-- Products List -->
                    <section class="section" id="cartelera">

                    </section>
                    <!-- /.Products List -->
                    
                     <!-- Selected place -->
                    <section class="section" id="sala" data-sucursal="" style="display:none;">
                            <div class="row">
                                <!--Jumbotron-->
                                    <div class="jumbotron">
                                        <button type="button" class="close" id="close_sala" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                        <div class="row">
                                            <img class="img-fluid"  src="/assets/img/peliculas/la_momia.jpg" alt="image_pelicula seleccionada" id="s_imagen">
                                            <p class="pull-right">
                                                <div class="card card-block">
                                                    <h5 class="card-title">Desglosce</h5>
                                                    <p class="card-text">
                                                        <div class="row">
                                                            <h6> Sucursal: </h6><span id="s_sucursal"></span>
                                                        </div>
                                                        <div class="row">
                                                            <h6> Pelicula: </h6><span id="s_nombre"></span>
                                                        </div>
                                                        <div class="row">
                                                            <h6> Función: </h6><span id="s_func"></span>
                                                        </div>
                                                        <div class="row">
                                                            <h6> Costo: </h6>$<span id="s_precio"></span>
                                                        </div>
                                                        <div class="row">
                                                            <h6> Asientos seleccionados: </h6><span id="s_as">0</span>
                                                        </div>
                                                        <div class="row">
                                                            <h6> Total: </h6>$<span id="s_total" data-selected="0">0</span>
                                                        </div>
                                                    </p>
                                                </div>
                                            </p>
                                        </div>
                                        <hr class="my-2">
                                        <p id="s_sinopsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci fugit nesciunt, magnam eius labore tenetur perferendis velit dicta ullam dolore, eaque eum tempore incidunt totam similique id autem. Omnis, odit.</p>
                                        <p class="lead">
                                            <a class="btn btn-outline-danger btn-rounded waves-effect pull-right" role="button" id="s_trailer" href="#" target="_blank">Trailer</a>
                                        </p>
                                    </div>
                                <!--/.Jumbotron-->
                            </div>
                        <!-- Nav tabs -->
                            <ul class="nav nav-tabs tabs-3 red" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#panel1" role="tab">Selecciona tu lugar</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#panel2" role="tab">Ticket</a>
                                </li>
                            </ul>
                            <!-- Tab panels -->
                            <div class="tab-content card">
                                <!--Panel 1-->
                                <div class="tab-pane fade in show active" id="panel1" role="tabpanel">
                                    <br>
                                    <div class="mx-auto col">
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">
                                                <h5 classs="col-md-12">Selecciona tu asiento</h5>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <img src="/assets/img/seat_5.png" class="col-md-2" alt="img_asiento" >
                                                        <h6 class="col-md-8">Tu asiento</h6>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <img src="/assets/img/ocupado.png" class="col-md-2" alt="img_asiento">
                                                        <h6 class="col-md-8">Ocupado</h6>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <img src="/assets/img/desocupado.png" class="col-md-2" alt="img_asiento">
                                                        <h6 class="col-md-8">Asiento desocupado</h6>
                                                    </div>
                                                </div>
                                            
                                            </div>
                                            <div class="col-md-5"></div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="scenario col-md-8">
                                            <img src="/assets/img/SeatScreen.png" class="col-md-12" alt="pantalla">
                                            <br>
                                            <div class="row col-md-12">
                                                <div class="col-sm-1">A</div>
                                                <div class="row col-sm-10" data-fila="A">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="1">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="2">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="3">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="4">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="5">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="6">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="7">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="8">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="9">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="10">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="11">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="12">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="13">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="14">
                                                    
                                                </div>
                                                <div class="col-sm-1">A</div>
                                            </div>
                                            <div class="row col-md-12">
                                                <div class="col-sm-1">B</div>
                                                <div class="row col-sm-10" data-fila="B">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="1">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="2">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="3">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="4">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="5">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="6">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="7">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="8">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="9">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="10">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="11">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="12">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="13">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="14">
                                                </div>
                                                <div class="col-sm-1">B</div>
                                            </div>
                                            <div class="row col-md-12">
                                                <div class="col-sm-1">C</div>
                                                <div class="row col-sm-10" data-fila="C">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="1">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="2">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="3">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="4">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="5">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="6">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="7">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="8">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="9">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="10">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="11">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="12">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="13">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="14">
                                                </div>
                                                <div class="col-sm-1">C</div>
                                            </div>
                                            <div class="row col-md-12">
                                                <div class="col-sm-1">D</div>
                                                <div class="row col-sm-10" data-fila="D">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="1">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="2">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="3">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="4">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="5">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="6">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="7">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="8">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="9">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="10">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="11">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="12">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="13">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="14">
                                                </div>
                                                <div class="col-sm-1">D</div>
                                            </div>
                                            <div class="row col-md-12">
                                                <div class="col-sm-1">E</div>
                                                <div class="row col-sm-10" data-fila="E">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="1">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="2">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="3">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="4">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="5">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="6">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="7">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="8">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="9">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="10">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="11">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="12">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="13">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="14">
                                                </div>
                                                <div class="col-sm-1">E</div>
                                            </div>
                                            <div class="row col-md-12">
                                                <div class="col-sm-1">F</div>
                                                <div class="row col-sm-10" data-fila="F">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="1">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="2">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="3">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="4">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="5">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="6">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="7">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="8">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="9">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="10">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="11">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="12">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="13">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="14">
                                                </div>
                                                <div class="col-sm-1">F</div>
                                            </div>
                                            <div class="row col-md-12">
                                                <div class="col-sm-1">G</div>
                                                <div class="row col-sm-10" data-fila="G">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="1">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="2">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="3">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="4">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="5">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="6">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="7">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="8">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="9">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="10">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="11">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="12">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="13">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="14">
                                                </div>
                                                <div class="col-sm-1">G</div>
                                            </div>
                                            <div class="row col-md-12">
                                                <div class="col-sm-1">H</div>
                                                <div class="row col-sm-10" data-fila="H">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="1">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="2">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="3">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="4">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="5">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="6">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="7">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="8">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="9">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="10">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="11">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="12">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="13">
                                                    <img src="/assets/img/desocupado.png" class="col-xs-1 as_sala" alt="img_asiento" data-status="desocupado" data-num="14">
                                                </div>
                                                <div class="col-sm-1">H</div>
                                            </div>
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-12">
                                            {% if User.username !== null %}
                                                    <button class="btn btn-outline-danger btn-rounded waves-effect pull-right" role="button" id="selected_as" type="button">Pagar ahora</button>

                                           {% else %}
                                                    <li class="nav-item "><a data-target="#modalRegister" data-toggle="modal" class="btn btn-outline-danger btn-rounded waves-effect pull-right"><i class="fa fa-comments-o"></i><span class="hidden-sm-down">Registrarme | Login</span></a></li>
                                           {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <!--/.Panel 1-->
                                <!--Panel 2-->
                                <div class="tab-pane fade" id="panel2" role="tabpanel">
                                    <br>
                                    
                                </div>
                                <!--/.Panel 2-->
                            </div>

                    </section>
                    <!-- /.Selected Place -->

                </div>
                <!-- /.Content -->

            </div>

        </div>
        <!-- /.Main Container -->

    </main>
{% endblock content %}
