{% extends 'master' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="libs/graficas/code/css/highcharts.css">
{% endblock css %}

{% block content %}
<div class="container">
	<div class="row">
		<div id="grafica" style="width:100%; height:40rem;"></div>		
	</div>
</div>
{% endblock content %}
{% block js %}
<script type="text/javascript" src="libs/graficas/code/js/highcharts.js"></script>
<script type="text/javascript" src="libs/graficas/code/js/themes/gray.js"></script>
<script type="text/javascript" src="assets/js/grafica.js"></script>
{% endblock js %}
