{% extends 'master' %}

{% block selects %}
    <select class="browser-default" id="select_estado" style='margin-left: 5rem;
                                            font-family: "Roboto",Arial,Helvetica,sans-serif;
                                            border-radius: .6rem;
                                            font-size: .95em;
                                            border: none;
                                            background: #fff;
                                            height: 2rem;
                                            outline: none;
                                            width: 8rem;'>
        <option value="" disabled selected>Estado</option>
    </select>
    <select class="browser-default" id="select_ciudades" style='margin-left: 1rem;
                                            font-family: "Roboto",Arial,Helvetica,sans-serif;
                                            border-radius: .6rem;
                                            font-size: .95em;
                                            border: none;
                                            background: #fff;
                                            height: 2rem;
                                            outline: none;
                                            width: 8rem;'>
        <option value="" disabled selected>Ciudad</option>
    </select>
    <select class="browser-default" id="select_sucursales" style='margin-left: 1rem;
                                            font-family: "Roboto",Arial,Helvetica,sans-serif;
                                            border-radius: .6rem;
                                            font-size: .95em;
                                            border: none;
                                            background: #fff;
                                            height: 2rem;
                                            outline: none;
                                            width: 8rem;'>
        <option value="" disabled selected>Sucursal</option>
    </select>
{% endblock selects %}
{% block content %}
<!--Form without header-->
<div class="container">
<div class="card">
    <div class="card-block">

        <!--Header-->
        <div class="text-center">
            <h3><i class="fa fa-pencil"></i> Registro de horarios:</h3>
            <hr class="mt-2 mb-2">
        </div>

        <!--Body-->
        <p></p>
        <br>

        <!--Body-->
        <div class="md-form">
        	 <input placeholder="Seleccionar fecha de assignación" type="text" id="fecha" name="fecha" class="form-control datepicker">
        </div>	
        <div class="md-form">
		    <input placeholder="Seleccione la hora de inicio" type="text" id="hora" name="hora" class="form-control timepicker">
		</div>
		<div class="md-form">
			<select class="browser-default" id="peliculas" style='margin-left: 0rem;
                                            font-family: "Roboto",Arial,Helvetica,sans-serif;
                                            border-radius: .6rem;
                                            font-size: .95em;
                                            border: none;
                                            background: #fff;
                                            height: 3rem;
                                            outline: none;
                                            width: 100%;'>
        		<option value="" disabled selected>Seleccione la pelicula</option>
    		</select>
		</div>
		<div class="md-form">
			<select class="browser-default" id="salas" style='margin-left: 0rem;
                                            font-family: "Roboto",Arial,Helvetica,sans-serif;
                                            border-radius: .6rem;
                                            font-size: .95em;
                                            border: none;
                                            background: #fff;
                                            height: 3rem;
                                            outline: none;
                                            width: 100%;'>
        		<option value="" disabled selected>Seleccione la sala</option>
    		</select>
		</div>
		<div class="md-form">
			<select class="browser-default" id="contextos" style='margin-left: 0rem;
                                            font-family: "Roboto",Arial,Helvetica,sans-serif;
                                            border-radius: .6rem;
                                            font-size: .95em;
                                            border: none;
                                            background: #fff;
                                            height: 3rem;
                                            outline: none;
                                            width: 100%;'>
        		<option value="" disabled selected>Seleccione el contexto</option>
    		</select>
		</div>
        <div class="text-center">
            <button class="btn btn btn-outline-info btn-rounded waves-effect" id="btn-upload-hora">Guardar</button>
        </div>
    </div>
</div>
</div>
<!--/Form without header-->
{% endblock content %}
{% block js %}
<script type="text/javascript" src="assets/js/horarios.js"></script>
{% endblock js %}
