<!DOCTYPE html>
<html lang="en"><head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> CineGero  </title>
    <meta name="robots" content="noindex,follow">
    <link rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com">
    <link rel="dns-prefetch" href="//s.w.org">
        <script type="text/javascript">
            window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/mdbootstrap.com\/Tutorials\/WP\/III\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.7.5"}};
            !function(a,b,c){function d(a){var b,c,d,e,f=String.fromCharCode;if(!k||!k.fillText)return!1;switch(k.clearRect(0,0,j.width,j.height),k.textBaseline="top",k.font="600 32px Arial",a){case"flag":return k.fillText(f(55356,56826,55356,56819),0,0),!(j.toDataURL().length<3e3)&&(k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,65039,8205,55356,57096),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,55356,57096),0,0),c=j.toDataURL(),b!==c);case"emoji4":return k.fillText(f(55357,56425,55356,57341,8205,55357,56507),0,0),d=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55357,56425,55356,57341,55357,56507),0,0),e=j.toDataURL(),d!==e}return!1}function e(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i,j=b.createElement("canvas"),k=j.getContext&&j.getContext("2d");for(i=Array("flag","emoji4"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
        </script><script src="https://mdbootstrap.com/Tutorials/WP/III/wp-includes/js/wp-emoji-release.min.js?ver=4.7.5" type="text/javascript" defer=""></script>
        <style type="text/css">
            img.wp-smiley,
            img.emoji {
                display: inline !important;
                border: none !important;
                box-shadow: none !important;
                height: 1em !important;
                width: 1em !important;
                margin: 0 .07em !important;
                vertical-align: -0.1em !important;
                background: none !important;
                padding: 0 !important;
            }
            option{
                font-weight: normal;
                display: block;
                white-space: pre;
                min-height: 1.2em;
            }
        </style>
            <link rel="stylesheet" type="text/css" href="libs/MDB/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="libs/MDB/css/mdb.min.css">
            <link rel="stylesheet" type="text/css" href="libs/font-awesome-4.7.0/css/font-awesome.min.css">

            <link rel="stylesheet" id="Style-css" href="https://mdbootstrap.com/Tutorials/WP/III/wp-content/themes/mdfpc/style.css?ver=4.7.5" type="text/css" media="all">
            <style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
            {% block css %} {% endblock css%}
        </head>
<body>


<!--Modal: Login / Register Form-->
<div class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Modal cascading tabs-->
            <div class="modal-c-tabs">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs tabs-2 light-blue darken-3" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fa fa-user mr-1"></i> Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fa fa-user-plus mr-1"></i> Register</a>
                    </li>
                </ul>

                <!-- Tab panels -->
                <div class="tab-content">
                    <!--Panel 7-->
                    <div class="tab-pane fade in show active" id="panel7" role="tabpanel">

                        <!--Body-->
                        <div class="modal-body mb-1">
                            <div class="md-form form-sm">
                                <i class="fa fa-envelope prefix"></i>
                                <input type="text" id="email" name="email" class="form-control">
                                <label for="email">Your email</label>
                            </div>

                            <div class="md-form form-sm">
                                <i class="fa fa-lock prefix"></i>
                                <input type="password" id="password" name="password" class="form-control">
                                <label for="password">Your password</label>
                            </div>
                            <div class="text-center mt-2">
                                <button class="btn btn-info" id="btn-login">Log in <i class="fa fa-sign-in ml-1"></i></button>
                            </div>
                        </div>
                        <!--Footer-->
                        <div class="modal-footer display-footer">
                            <div class="options text-center text-md-right mt-1">
                                <p>Not a member? <a href="#" class="blue-text">Sign Up</a></p>
                                <p>Forgot <a href="#" class="blue-text">Password?</a></p>
                            </div>
                            <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close <i class="fa fa-times-circle ml-1"></i></button>
                        </div>

                    </div>
                    <!--/.Panel 7-->

                    <!--Panel 8-->
                    <div class="tab-pane fade" id="panel8" role="tabpanel">

                        <!--Body-->
                        <div class="modal-body">
                            <div class="md-form form-sm">
                                <i class="fa fa-envelope prefix"></i>
                                <input type="text" id="email-r" name="emai-r" class="form-control">
                                <label for="email-r">Your email</label>
                            </div>
                            <div class="md-form form-sm">
                                <i class="fa fa-envelope prefix"></i>
                                <input type="text" id="username-r" name="username-r" class="form-control">
                                <label for="username-r">Username</label>
                            </div>
                            <div class="md-form form-sm">
                                <i class="fa fa-lock prefix"></i>
                                <input type="password" id="password-r" name="password-r" class="form-control">
                                <label for="password-r">Your password</label>
                            </div>

                            <div class="md-form form-sm">
                                <i class="fa fa-lock prefix"></i>
                                <input type="password" id="password-rc" name="password-rc" class="form-control">
                                <label for="password-rc">Repeat password</label>
                            </div>

                            <div class="text-center form-sm mt-2">
                                <button class="btn btn-info" id="btn-register">Sign up <i class="fa fa-sign-in ml-1"></i></button>
                            </div>

                            <fieldset class="additional-option">
                                <input type="checkbox" id="checkbox21">
                                <label for="checkbox21">Subscribe me to the newsletter</label>
                            </fieldset>

                        </div>
                        <!--Footer-->
                        <div class="modal-footer">
                            <div class="options text-right">
                                <p class="pt-1">Already have an account? <a href="#" class="blue-text">Log In</a></p>
                            </div>
                            <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close <i class="fa fa-times-circle ml-1"></i></button>
                        </div>
                    </div>
                    <!--/.Panel 8-->
                </div>

            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Login / Register Form-->
<!--Navbar-->
<nav class="navbar navbar-toggleable-md navbar-dark elegant-color-dark">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <strong>Cine - GERO</strong>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav1">
          Please assign
            <form class="form-inline waves-effect waves-light">
                {% block selects %} {% endblock selects%}
            </form>
            <ul class="nav navbar-nav nav-flex-icons ml-auto">
               {% if User.username !== null %}
                    <li class="nav-item"><a href="#" class="nav-link waves-effect waves-light"><span class="hidden-sm-down">{{User.username}} | {{User.email}}</span></a></li>
                    <li class="nav-item"><a href="/logout" class="nav-link waves-effect waves-light"><span class="hidden-sm-down">Salir</span></a></li>

               {% else %}
                    <li class="nav-item "><a data-target="#modalRegister" data-toggle="modal" class="nav-link waves-effect waves-light"><i class="fa fa-comments-o"></i><span class="hidden-sm-down">Registrarme | Login</span></a></li>
               {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!--/.Navbar-->

{% block content %} {% endblock content %}



<!--Footer-->
<footer class="page-footer elegant-color-dark center-on-small-only">
       <!--Footer Links-->
        <div class="container-fluid">
            <div class="row">
                <!--First column-->
                <div class="col-md-3 offset-md-1">
                                <div><h5 class="title">ABOUT MATERIAL DESIGN</h5>           <div class="textwidget"><p>Material Design (codenamed Quantum Paper) is a design language developed by Google.</p>
        <p>Material Design for Bootstrap (MDB) is a powerful Material Design UI KIT for most popular HTML, CSS, and JS framework - Bootstrap.</p>
        </div>
            </div>                          </div>
                <!--/.First column-->

                <hr class="hidden-md-up">

                <!--Second column-->
                <div class="col-md-2 offset-md-1">
                    <h5 class="title">First column:</h5>
                    <div class="menu"><ul>
        <li class="page_item page-item-2"><a href="https://mdbootstrap.com/Tutorials/WP/III/sample-page/">Sample Page</a></li>
        </ul></div>
                </div>
                <!--/.Second column-->

                <hr class="hidden-md-up">

                <!--Third column-->
                <div class="col-md-2">
                    <h5 class="title">Second column:</h5>
                    <div class="menu"><ul>
        <li class="page_item page-item-2"><a href="https://mdbootstrap.com/Tutorials/WP/III/sample-page/">Sample Page</a></li>
        </ul></div>
                </div>
                <!--/.Third column-->

                <hr class="hidden-md-up">

                <!--Fourth column-->
                <div class="col-md-2">
                    <h5 class="title">Third column:</h5>
                    <div class="menu"><ul>
        <li class="page_item page-item-2"><a href="https://mdbootstrap.com/Tutorials/WP/III/sample-page/">Sample Page</a></li>
        </ul></div>
                </div>
                <!--/.Fourth column-->
            </div>
        </div>
        <!--/.Footer Links-->

        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2017 Copyright: <a href="https://www.MDBootstrap.com" rel="nofollow"> MDBootstrap.com </a>

            </div>
        </div>
        <!--/.Copyright-->

</footer>
<!--/.Footer-->

<script type="text/javascript" src="libs/MDB/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="libs/MDB/js/tether.js"></script>
<script type="text/javascript" src="libs/MDB/js/bootstrap.min.js"></script>
<script type="text/javascript" src="libs/MDB/js/mdb.min.js"></script>
<script type="text/javascript" src="https://mdbootstrap.com/Tutorials/WP/III/wp-includes/js/wp-embed.min.js?ver=4.7.5"></script>
<script src="assets/js/ws.js" charset="utf-8"></script>
<script src="assets/js/socket_cn.js" charset="utf-8"></script>
<script type="text/javascript" src="assets/js/index.js"></script>
<script type="text/javascript" src="assets/js/login.js"></script>
<script>
// Material Select Initialization
$(document).ready(function() {
   $('.mdb-select').material_select();
});
$("#mdb-navigation > ul > li").addClass("page-item")
$("#mdb-navigation > ul > li > a").addClass("page-link")
</script>
{% block js %}{% endblock js %}

<div class="hiddendiv common"></div></body></html>
