{% extends 'master' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
           <br><br>
            <!--Form with header-->
                <div class="card">
                    <div class="card-block">

                        <!--Header-->
                        <div class="form-header blue-gradient">
                            <h3><i class="fa fa-user"></i> Registro de peliculas:</h3>
                        </div>

                          <div class="md-form">
                              <div class="file-field">
                                  <div class="btn btn-indigo btn-sm">
                                      <span>Selecciona el post de la pelicula</span>
                                      <form action="" id="frm_imagen" name="frm_imagen" enctype="multipart/form-data">
                                          <input type="file" id="imagen" name="imagen">
                                      </form>
                                  </div>
                                  <div class="file-path-wrapper">
                                     <input class="file-path validate" type="text" placeholder="Seleccionar imagen">
                                  </div>
                              </div>
                          </div>
                        <form action="" id="frm_peli">
                          <!--Body-->
                          <div class="md-form">
                              <input type="text" id="nombre" class="form-control">
                              <label for="form3">Nombre</label>
                          </div>

                          <div class="md-form">
                              <input type="number" id="duracion" class="form-control">
                              <label for="form3">Duración</label>
                          </div>
                          <div class="md-form">
                              <textarea type="text" id="sinopsis" class="md-textarea"></textarea>
                              <label for="form7">Sinopsis</label>
                          </div>
                          <div class="md-form">
                              <input type="text" id="trailer" class="form-control">
                              <label for="form3">Trailer (Link)</label>
                          </div><br>
                          <select class="browser-default" id="select_clasificaciones" style='
                                              font-family: "Roboto",Arial,Helvetica,sans-serif;
                                              border-radius: .6rem;
                                              font-size: .95em;
                                              border: none;
                                              background: #fff;
                                              height: 4rem;
                                              outline: none;
                                              width: 100%;'>
                              <option value="" disabled selected>Clasificaciones</option>
                          </select><br>
                          <select class="browser-default" id="select_generos" style='
                                              font-family: "Roboto",Arial,Helvetica,sans-serif;
                                              border-radius: .6rem;
                                              font-size: .95em;
                                              border: none;
                                              background: #fff;
                                              height: 4rem;
                                              outline: none;
                                              width: 100%;'>
                               <option value="" disabled selected>Genero</option>
                          </select>
                        </form>

                        <div class="pull-right">
                            <button class="btn btn btn-outline-info btn-rounded waves-effect" id="btn-save">Guardar</button>
                            <hr>
                        </div>

                    </div>
                </div>
            <!--/Form with header-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4"></div>
    </div>
    <br><br>
</div>
{% endblock content %}

{% block js %}
<script src="/assets/js/peliculas.js"></script>
<script>
    $(document).ready(function() {
        $('.mdb-select').material_select();
    });
</script>
{% endblock js %}
