{% extends 'master' %}

{% block content %}


<!-- Modal -->
<div class="modal fade" id="modalSucursal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Registrar sucursal</h4>
            </div>
            <!--Body-->
            <div class="modal-body">
                  <div class="md-form form-sm">
	                   <i class="fa fa-envelope prefix"></i>
	                   <input type="text" id="sucursal" name="sucursal" class="form-control">
	                   <label for="sucursal">Nombre de la sucursal</label>
	              </div>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger btn-rounded waves-effect" data-dismiss="modal">Cerrar</button>
                <button type="button" id="btn btn-outline-info btn-rounded waves-effect" class="btn btn-primary">Registrar</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Modal -->
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				 <div class="card card-dark text-center z-depth-2 mb-1">
		            <div class="card-block">
		                <p class="white-text mb-0"><i class="fa fa-info-circle"></i> Agregar nueva sucursal</p>
		            </div>
		        </div>
				<div id="map" style='height: 30rem;width: 100%;'></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="text-center">
					<button type="button" data-toggle="modal" data-target="#modalSucursal" class="btn btn-elegant btn-lg" id="btn-upload-sucursal">Dar de alta sucursal</button>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
{% endblock content %}

{% block js %}
<script>
  var map;
  var marker;
  function initMap() {
  	var uluru = {lat: -25.363, lng: 131.044};
  	var pos = {};
  	var infoWindow;
  	var geocoder = new google.maps.Geocoder;
  	var address;
    map = new google.maps.Map(document.getElementById('map'), {
      center: uluru,
      zoom: 16,
      zoomControl: false,
   	  scaleControl: true
    });
    infoWindow = new google.maps.InfoWindow({map: map});

     // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

			marker = new google.maps.Marker({
		      position: pos,
		      draggable: true,
   			  animation: google.maps.Animation.DROP,
		      map: map
		    });
            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
        function getCity(address_components){
            var city = null;
            $.each(address_components,function(i,c){
                if(c.types[0] == "locality")
                    city = c.long_name;
            });
            return city;
        }
        function geocodeLatLng(latlng,infowindow) {
	        geocoder.geocode({'location': latlng}, function(results, status) {
	          if (status === 'OK') {
	            if (results[1]) {
	              map.setZoom(11);
	              infowindow.setContent(results[1].formatted_address);
	              infowindow.open(map, marker);
	              console.log(results)
	              address = getCity(results[0].address_components);
	              if(results.lenght<7){

	              }else{

	              }
	              console.log(address);
	              data = {"address":address,"lat":latlng.lat,"lng":latlng.lng,"nombre":$("#sucursal").val()};
	              console.log(data);
	              sendNewSucursal(data);
	            } else {
	              window.alert('No results found');
	            }
	          } else {
	            window.alert('Geocoder failed due to: ' + status);
	          }
	        });
  		}
		function handleLocationError(browserHasGeolocation, infoWindow, pos) {
		    infoWindow.setPosition(pos);
		    infoWindow.setContent(browserHasGeolocation ?
		                          'Error: The Geolocation service failed.' :
		                          'Error: Your browser doesn\'t support geolocation.');
		}
		function sendNewSucursal(data){
			$.ajax({
				'url':'/saveSucursal',
				'type':'POST',
				'data':data
			}).done(function(response){
                if(response.status === 200){
                    toastr.success("Sucursal registrada");
                }else{
                    toastr.success("Algo ha salido mal");
                }
			}).fail(function(error){
				console.log(error);
			});
		}
		$(function(){
			$("#btn-reg-sucursal").click(function(){
				console.log(marker.position.lng());
				if($("#sucursal").val()!=''){
					geocodeLatLng({lat:marker.position.lat(),lng:marker.position.lng()},infoWindow);
					$("#modalSucursal").modal("hide");
				}else{
					toastr.warning("Es necesario agregar el nombre de la sucursal");
				}

			});
		});
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASd0S353W-9dF4NkRAUja1CZ_0ugED_EI&callback=initMap"
    async defer></script>
{% endblock js %}
