{% extends 'master' %}

{%block css%}
<link rel="stylesheet" type="text/css" href="libs/assets/code/css/highcharts.css">
{%end block%}
{% block content %}
	
{% endblock content %}
{% block js %}
<script type="text/javascript" src="libs/graficas/code/js/highcharts.js"></script>
{% endblock js %}
