{% extends 'masterLand' %}

{% block content %}
<!--Carousel Wrapper-->
    <div id="carousel-example-3" class="carousel slide carousel-fade white-text" data-ride="carousel" data-interval="false">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-3" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-3" data-slide-to="1"></li>
            <li data-target="#carousel-example-3" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->

        <!--Slides-->
        <div class="carousel-inner" role="listbox">

            <!--Dynamic query listing posts from "carousel" category-->
                        <!-- Looping slide -->
                <div class="carousel-item view hm-black-light active" style="background-image: url('assets/img/fondo1.jpg'); background-position:center; background-repeat: no-repeat; background-size: cover;">
                    <!-- Caption -->
                    <div class="full-bg-img flex-center white-text">
                        <ul class="animated fadeIn col-md-12">
                            <li>
                                <h1 class="h1-responsive">En el momentos que desees</h1>
                            </li>
                            <li>
                              <p>Los mejores estrenos, ¿Qué esperas?</p>
                            </li>
                            <li>
                               <a href="/cartelera" class="btn btn-lg btn-elegant waves-effect waves-light" rel="nofollow">Ver cartelera!</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.Caption -->
                </div>
                <!--/.Looping slide-->
                                <!-- Looping slide -->
                <div class="carousel-item view hm-black-light " style="background-image: url('assets/img/fondo2.jpg'); background-position:center; background-repeat: no-repeat; background-size: cover;">
                    <!-- Caption -->
                    <div class="full-bg-img flex-center white-text">
                        <ul class="animated fadeIn col-md-12">
                            <li>
                                <h1 class="h1-responsive">Weekend outside the city – the best way to relax</h1>
                            </li>
                            <li>
                                <p>8 Reasons why you need to spend more time in nature</p>
                            </li>
                            <li>
                                <a href="/cartelera" class="btn btn-lg btn-elegant waves-effect waves-light" rel="nofollow">Ver cartelera!</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.Caption -->
                </div>
                <!--/.Looping slide-->
                                <!-- Looping slide -->
                <div class="carousel-item view hm-black-light " style="background-image: url('assets/img/fondo3.jpg'); background-position:center; background-repeat: no-repeat; background-size: cover;">
                    <!-- Caption -->
                    <div class="full-bg-img flex-center white-text">
                        <ul class="animated fadeIn col-md-12">
                            <li>
                                <h1 class="h1-responsive">10 Reasons you should spend holiday at countryside</h1>
                            </li>
                            <li>
                                <p>Best attractions and summer sports!</p>
                            </li>
                            <li>
                                 <a href="/cartelera" class="btn btn-lg btn-elegant waves-effect waves-light" rel="nofollow">Ver cartelera!</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.Caption -->
                </div>
                <!--/.Looping slide-->
                        <!--/.Dynamic query listing posts from "carousel" category-->
            
        </div>
        <!--/.Slides-->

        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-3" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-3" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->
{% endblock %}
